In [1]:
USE [NorthWind]

In [2]:
DELETE FROM
[Temp]

In [3]:
SELECT * FROM [Temp]

In [4]:
DELETE FROM
    [TempUpdate]
WHERE
    [ID] = 2

In [5]:
SELECT * FROM [TempUpdate]

ID,NewName
3,NNN 3
7,NNN 7
9,NNN 9
10,NNN 10
999,NNN 999

In [6]:
DELETE FROM
    [TempUpdate]
WHERE
    [ID] = 3

In [7]:
SELECT * FROM [TempUpdate]

ID,NewName
7,NNN 7
9,NNN 9
10,NNN 10
999,NNN 999

In [9]:
TRUNCATE TABLE [TempUpdate]

1. delete a single record from a table
2. delete 2 rows from atable using a single command
3. truncate a table